/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.my-table{
    background: #fafafa;
    width: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    background: #c5cae94d;
}